# ---
# Build
# ---

dist
dist-ssr

# ---
# Dependencies
# ---

node_modules

# ---
# Documentation
# ---

mermaid
visualizer

# ---
# Editors
# ---

.nova
.vscode

# ---
# Local
# ---

*.local

# ---
# OS
# ---

.DS_Store
* 2*

# ---
# Services
# ---

.vercel

# ---
# Secrets
# ---

.env

# ---
# Test
# ---

coverage
__snapshots__
# Local Netlify folder
.netlify
